{:app-name "automaton-simulation-de"
 :task-shared {:gha {}
               :publication
               {:as-lib org.clojars.hephaistox/automaton-simulation-de
                :deploy-to :clojars
                :env {:la {}
                      :production {}}
                :license {}
                :repo "git@github.com:hephaistox/automaton-simulation-de.git"}
               :repl-aliases [:common-test :env-development-repl :build]}
 :tasks {:clean {:dirs [".cpcache/"
                        ".clj-kondo/.cache/"
                        "tmp/"
                        "target/"
                        "node_modules/"
                        ".shadow-cljs/builds/"]}
         :reports {:forbiddenwords-words #{"landing" "tap>"}}}}
