{:aliases
 {:bb-deps {:extra-deps #:org.clojars.hephaistox{automaton-build
                                                 #:mvn{:version "2.0.1-la"}}}
  :build {:extra-deps #:org.clojars.hephaistox{automaton-build #:mvn{:version
                                                                     "2.0.1-la"}}
          :ns-default build}
  :cljs-deps {:extra-deps {binaryage/devtools #:mvn{:version "1.0.7"}
                           thheller/shadow-cljs #:mvn{:version "2.28.2"}}
              :extra-paths
              ["src/cljs/" "src/cljc/" "resources/" "test/cljs/" "test/cljc/"]}
  :codox
  {:exec-args
   {:description "Simulation of discrete event, based on a scheduler engine."
    :doc-paths ["docs"]
    :metadata {:doc/format :markdown}
    :name "Discrete event simulation"
    :output-path "tmp/codox"
    :source-uri
    "https://github.com/hephaistox/automaton-simulation-de/blob/{version}/{filepath}#L{line}"}
   :exec-fn codox.main/generate-docs
   :extra-deps {codox/codox {:mvn/version "0.10.8"}}}
  :common-test
  {:exec-fn cognitect.test-runner.api/test
   :extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}
                org.clojure/tools.namespace #:mvn{:version "1.5.0"}
                org.clojure/tools.reader #:mvn{:version "1.4.1"}}
   :extra-paths ["test/clj/" "test/cljc/" "test/resources/"]
   :jvm-opts ["-Dheph-conf=env/test/config.edn,env/common_config.edn"]}
  :env-development-repl
  {:extra-deps {org.clojure/core.async #:mvn{:version "1.6.681"}}
   :extra-paths ["env/development/resources/"
                 "env/development/src/clj/"
                 "env/development/src/cljc/"]
   :jvm-opts ["-Dheph-conf=env/development/config.edn,env/common_config.edn"]
   :main-opts ["-m" "automaton-simulation-de.local-repl"]}
  :env-development-test
  {:jvm-opts
   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
    "-Dhephaistox-in-test=true"]
   :main-opts ["-m"
               "cognitect.test-runner"
               "-r"
               ".*-test.*"
               "-d"
               "test/clj"
               "-d"
               "test/cljc"]}}
 :deps {org.clojars.hephaistox/automaton-core #:mvn{:version "1.2.8-la"}}
 :paths ["src/clj/" "src/cljc/" "src/cljs/" "resources/"]}
