{:app-name "automaton-simulation-de"
 :code {:forbidden-words ["TODO" "DONE" "NOTE" "FIXME" "tap>"]}
 :frontend {:run-aliases [:browser-test :ltest]}
 :publication {:as-lib org.clojars.hephaistox/automaton-simulation-de
               :base-branch "main"
               :repo-url "git@github.com:hephaistox/automaton-simulation-de.git"}}
